* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  margin: 0 auto;
  font-family: "TikTok Sans", sans-serif;
}

video {
  height: 100%;
  width: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

.reel-page {
  height: 100vh; /* ti incuriosisce? */
  max-width: 512px;
  min-width: 400px;
  position: relative;
}

.reel-header {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;

  /* Inserisci qui sotto 
	le tue regole, se necessario. */
  display: flex;
  min-height: 50px;
}

.reel-header > * {
  padding: 0 20px;
}

.header-menu-item {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-submenu-item {
  position: relative;
}

.header-menu-btn,
.header-submenu-btn,
.sidebar-btn,
.video-desc-btn {
  font-family: "TikTok Sans", sans-serif;
  font-size: 1.1rem;
  color: white;
  background: none;
  border: none;
  display: block;
}

.header-submenu-btn {
  opacity: 0.4;
}

.header-menu-btn {
  font-size: 1.3rem;
}

.header-menu-btn:hover,
.sidebar-item:hover * {
  transform: scale(1.3);
}

.header-submenu-item:nth-of-type(2) > .header-submenu-btn::after {
  font-family: "bootstrap-icons";
  content: "\F309";
  font-size: 2.7rem;
  color: red;
  margin: 0 3px;
  position: absolute;
  top: 1px;
  translate: -50% -50%;
}

.header-submenu-item:nth-of-type(3) > .header-submenu-btn::after {
  content: "_";
  font-size: 3rem;
  position: absolute;
  left: 50%;
  translate: -50% -40%;
}

/* Footer */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;

  /* Inserisci qui sotto 
	le tue regole, se necessario. */
  min-height: 160px;
}

.footer-text {
  padding-left: 20px;
}

.profile-name {
  font-weight: bold;
}

.profile-name,
.video-desc,
.video-desc-btn {
  font-size: 0.95rem;
  margin-bottom: 7px;
}

.video-desc,
.video-desc-btn {
  display: inline;
}

.video-desc-btn:hover {
  color: burlywood;
}

.nav-footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 512px;
  height: 80px;
}

.nav-item {
  color: white;
  opacity: 0.4;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-item > span:nth-of-type(2) {
  font-size: 0.7rem;
}

.nav-item:nth-of-type(3) {
  color: black;
  opacity: 1;
  background-color: white;
  padding: 0 8px;
  height: 35%;
  translate: 8px -8px;
  border-radius: 20%;
  border-left: 3px solid aqua;
  border-right: 3px solid fuchsia;
}

.nav-item:nth-of-type(4) .nav-icon::after {
  content: "19";
  position: absolute;
  background-color: red;
  font-size: 0.7rem;
  color: white;
  border-radius: 35%;
  padding: 0 5px;
  translate: -50% 0;
  opacity: 1;
}

/* Sidebar */
.sidebar {
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 40%;

  /* Inserisci qui sotto 
	le tue regole, se necessario. */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.sidebar-item {
  color: white;
  position: relative;
}

.sidebar-item p {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-btn {
  font-size: 2rem;
}

.sidebar-item:first-child {
  position: relative;
}

.sidebar-item:first-child .sidebar-btn {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 24px;
  line-height: 0;
}

.user-logo {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  bottom: 19px;
}

.sidebar-item:hover p,
.sidebar-item:hover .user-logo {
  transform: none;
}

.active-screen,
.header-submenu-btn:hover,
.nav-item:hover {
  opacity: 1;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
  /* min-height: 100px; */
  border: 2px dashed #fff;
}

/* .debug .sidebar {
  min-width: 80px;
  min-height: 450px;
  border: 2px dashed #ff0;
} */

/* .debug .reel-header {
  min-height: 50px;
  border: 2px dashed #fff;
} */
